* {
  padding:    0;
  margin:     0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0;
  }
}

html {
  min-height: 100%;
  padding:    24px 16px;
  background-color: #F4F4F4;
}

body {
  display: flex;
  flex-flow: column;
  min-width: 100%;
  gap: 24px;
}

button, .button {
  display:          flex;
  flex-flow:        column;
  align-items:      center;
  justify-content:  center;
  height:           48px;
  color:            white;
  background-color: #65E080;
  border-radius:    16px;
  border:           none;
  text-decoration:  none;
}

// #megarif {
//   font-family:             Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing:  antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align:              center;
//   color:                   #2C3E50;
//   margin-top:              60px;
// }
